section{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}

section > * {
    flex-grow: 1;
  }

body{
    margin-top: 0;
    margin-left: 100px;
    margin-right: 100px;
    line-height: 1;
    background-color:#271f1f ;
}
p,
h4,
h2,
li {
    font-family: Arial, Helvetica, sans-serif;

}

td{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

table{
    margin-top: 300px;
}

#h2table{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

#hobbyid{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

#text {
    font-size: 40px;
    font-weight: bold;
    color: aliceblue;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 40px;
    }

#text2{
    font-size: 20px ;
    text-transform: uppercase;
    color: azure;
    text-align: center;
    margin-top: 10px;
    font-family: 'Lato', sans-serif;
}

#id-1{
    text-align: left;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color: aliceblue;
    margin-left: 15px;
}

.spott{
    text-transform: uppercase;
}

header{
    order: 1;
    flex-basis: 100%;
    height: 250px;
    background-color: #271f1f;
    
    padding: 20px 20px 0 20px;
    
}

.get{
    text-align: right;
    font-size: 14px;
}

nav a{
    text-decoration: none;
    color: aliceblue;
    padding: 20px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    transition: 0.7s all;
    position: relative;
}

nav a:before{
content: "";
width: 30px;
border-bottom: 5px solid white;
bottom: 0;
right: 100px;
transition: 0.7s all;
position: absolute;
}

nav a:hover:before{
right: 0;
}

#link {
    font-size: 40px;
    color: aliceblue;
    text-align: left;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

main{
    padding: 15px;
    text-align: left;
    order: 2;
    flex-basis: 0;
}

aside {
    flex-basis: 300px;
    flex-grow: 0;
    order: 3;
    padding: 30px;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 40px;
    line-height: 1.2;
    word-spacing: 2px;
  }

  aside li{
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  footer{
    flex-basis: 100%;
    order: 4;
    height: 250px;
    background-color: #271f1f;
    padding: 20px 20px 0 20px;
  }

  main img{
      width: 200px;
      float: left;
      border-radius: 100px;
      transition: transform 1s, background-color 1s;

  }

  main img:hover{
    transform: scale(1.1) rotate(-45deg);
  }

  #paragraph1{
      text-align: center;
      font-size: 16px;
      font-family: Arial, Helvetica, sans-serif;
      padding: 5px;
      background-color: beige;
      margin-left: 205px;
      line-height: 1.2;
      word-spacing: 2px;
  }

  #paragraph2{
      background-color: beige;
      text-align: center;
      font-size: 16px;
      font-family: Arial, Helvetica, sans-serif;
      padding: 10px;
      margin-left: 205px;
      line-height: 1.2;
      word-spacing: 2px;
  }

  #paragraph3{
    background-color: beige;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    line-height: 1.2;
    word-spacing: 2px;
  }

  #divHello{
      text-align: left;
      font-weight: bold;
      font-size: large;
      text-transform: uppercase;
  }

  .educationdiv{
    background-color: beige;
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    padding: 10px;
    line-height: 1.2;
  }
  
  #links{
    padding: 100px;
    font-size: 50px;
    color: aliceblue;
    text-align: left;
    margin-right: 100px;
    margin-top: 1px;
    margin-bottom: 10px;
      
  }